@import '../../assets/styles/mixins';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__tips {
  display: flex;
  width: 100%;
  padding: 35px 0;
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  background-color: #FFF;
  overflow-x: scroll;

  @include respond-above(sm) {
    justify-content: center;
  }
}

.footer__area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1250px;
  width: calc(100% - 60px);
  padding: 30px;

  @include respond-above(sm) {
    align-items: center;
    height: 70px;
    padding: 0;
  }
}

.footer__logo {
  width: 70px;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;

  @include respond-below(sm) {
    flex-direction: column;
    align-self: center;
  }
}

.footer__item {
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  @include respond-above(sm) {
    margin: 0 20px;
  }
}

.footer__link {
  &, &:link, &:visited {
    text-decoration: none;
    color: #565656;
  }

  @include respond-above(sm) {
    &:hover {
      text-decoration: underline;
    }
  }
}
